.awards-section {
  height: 100vh;
  overflow: hidden;
  background: #f7fefa;
  text-align: center;
  font-family: Pretendard;
}

.awards-section h2 {
    margin-top: 4rem;
    font-size: 230%;
    color:#3f3f3f;
}

.awards-cert-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1000px; /* ✅ 너비 제한 */
  line-height: 1.4;
}


.awards-block, .certs-block {
  flex: 1;
  min-width: 300px;
}

.awards-block h3 {
  color: #3f3f3f;
}

.certs-block h3 {
  color: #3f3f3f;
}

.langs-block h3 {
  color: #3f3f3f;
}

.item {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  background: rgb(251, 255, 251);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.item:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.item-date {
  font-size: 0.9rem;
  color: #888;
  font-weight: bold;
}

.item-title {
  font-size: 1.1rem;
  margin-top: 0.4rem;
}

.item-desc {
  font-size: 0.95rem;
  color: #666;
  margin-top: 0.3rem;
}

@media (max-width: 768px) {
  .awards-cert-container {
    flex-direction: column;
  }
}
